{# Footer #}
<footer>
    <ul class="footer-links">
        <li class="brand"><a href="{% url 'home' %}">{{ website_name_stylized }}</a></li>
        <li>&#183;</li>
        <li><a href="javascript:window.scrollTo(0, 0)">Top</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'article_list' %}">Articles</a></li>
    </ul>

    <span>
        <span>&copy; 2018 {{ website_name }}.</span>
        <a href="{% url 'third_party_licenses' %}" class="footer-text-separator">Third party licenses</a>
        <a class="footer-text-separator" href="{% url 'privacy_policy' %}">Privacy Policy</a>
    </span>
    <br />
    <span>
        Page rendered on {% now "F j, Y H:i:s" %}.

        {# Display the website mode if the user is an admin #}
        {% if request.user.is_staff %}
            <span class="website-mode" title="{{ website_config_message }}">Mode: {{ website_mode }}.</span>
        {% endif %}
    </span>

</footer>

