{# HTML header tags #}
{# NOTE: JavaScript is located in misc.html #}

{% load staticfiles %}
{% load analytical %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#41a317">
<meta name="msapplication-navbutton-color" content="#41a317">

<link rel="manifest" href="/web.manifest">

<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
<link rel="apple-touch-icon" href="{% static 'img/favicon.png' %}">

{# CSS libraries #}
<link rel="stylesheet" href="{% static 'third-party/bootstrap/css/bootstrap.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'third-party/fontawesome/css/fontawesome-all.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'cookielaw/css/cookielaw.css' %}" type="text/css" />

{# Site CSS #}
<link rel="stylesheet" href="{% static 'css/setup.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/popups.css' %}" type="text/css" />

{% analytical_head_top %}{% analytical_head_bottom %}
