<?xml version="1.0" encoding="UTF-8"?>

<!--
    The website configuration file

    Required settings:
     - The website name attribute
     - The <current-mode> tag
     - One or more <mode> tags with the following elements:
        - The <debug> tag
        - The <secret-key> tag

    Other settings (in the form of XML elements and attributes) are optional.
    All unused settings should be commented out or removed to avoid confusing the parser.
    An unused setting left blank will set the corresponding Django variable to an empty string.

    If an element is unused, its default setting will be used if applicable, 
    or the Django settings variable not set.

    SECURITY NOTICE:
    This file contains security keys and other critical configurations.
    Parts of this file are directly executed from Python.
    Keep this file secret in production and only allow trusted staff members to read or edit it!
-->

<website name="twigfusion">
    <!--
        The mode whose configuration data will be applied.

        Set the <current-mode> tag to the name of a <mode> tag.
        Recommended: "development" or "production".
    -->
    <current-mode>example</current-mode>
  
    <!-- This message will be visible to the website staff (Optional) -->
    <!-- This allows different configuration files to be identified -->
    <message></message>

    <modes>
        <mode name="example">
            <!-- An example mode -->

            <!-- Whether or not to run the website in DEBUG mode -->
            <!-- Do not run in debug mode in production -->
            <debug enabled="true" />

            <!-- The Django SECRET_KEY -->
            <secret-key></secret-key>

            <!-- Django allowed hosts (Optional) -->
            <allowed-hosts>
                <host>localhost</host>
                <host>127.0.0.1</host>
                <host>127.0.0.2</host>
                <!-- ... -->
            </allowed-hosts>

            <!-- Logging (Optional) -->
            <logging enabled="false">
                <!-- The log file path is required when logging is enabled -->
                <file>/var/log/django/website.log</file>
            </logging>

            <!-- Database configurations (Optional) -->
            <database>
                <engine></engine>
                <name></name>
                <user></user>
                <password></password>
                <host></host>
                <port></port>
            </database>

            <!-- Google webmaster tools configurations (Optional) -->
            <google>
                <site-verification></site-verification>
				<recaptcha enabled="false">
                    <!-- Not yet implemented -->
                    <!-- Both the public key and private key are required if reCAPTCHA is enabled. -->
					<public-key></public-key>
					<private-key></private-key>
				</recaptcha>
            </google>

            <!-- Configuration data for analytics software (Optional) -->
            <!-- Currently only Google Analytics and Matomo (Piwik) can be configured through this file -->
            <analytics>
                <!-- Internal IP addresses that should not be tracked -->
                <internal-ips>
                    <address>127.0.0.7</address>
                    <address>127.0.0.2</address>
                    <!-- ... -->
                </internal-ips>

                <!-- Google Analytics -->
                <google enabled="false">
                    <id></id><!-- Property ID -->
                    <sample-rate></sample-rate><!-- Sample rate -->
                    <display-advertising enabled="false" /><!-- Display advertising -->
                    <site-speed enabled="false" sample-rate="" /><!-- Site speed tracking -->
                    <anonymize-ip enabled="false" /><!-- Anonymize IP -->
                    <cookie-timeout session="" visitor="" /><!-- Session and visitor cookie timeouts -->
                </google>

                <!-- Matomo (Piwik) -->
                <matomo enabled="false">
                    <id></id>
                    <server></server>
                </matomo>
            </analytics>
        </mode>
    </modes>
</website>